In [2]:
def times2(var):
    return var * 2

In [3]:
times2(5)

10

## map function

In [4]:
seq = [1,2,3,4,5]

In [5]:
map(times2, seq)

In [6]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

- re-write times2 function in one line

In [9]:
def times_2(var): return var*2

In [10]:
times_2(5)

10

In [11]:
t = lambda var: var * 2

In [12]:
t(6)

12

In [14]:
list(map(lambda num: num**2,seq))

[1, 4, 9, 16, 25]

### filter function

In [16]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

## methods

In [17]:
s = 'My name is Iroshan'

In [18]:
s.lower()

'my name is iroshan'

In [19]:
s.upper()

'MY NAME IS IROSHAN'

In [20]:
s.split()

['My', 'name', 'is', 'Iroshan']

In [22]:
tweet = 'Go sports! #Sports'

In [23]:
tweet.split('#')

['Go sports! ', 'Sports']

In [24]:
d = {'k1':1,'k2':2}

In [25]:
d.keys()

dict_keys(['k1', 'k2'])

In [26]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [27]:
d.values()

dict_values([1, 2])

In [28]:
lst = [1,2,3]

In [29]:
lst.pop()

3

In [30]:
lst

[1, 2]

In [31]:
lst = [1,2,3,4,5]

In [32]:
lst.pop(0)

1

In [33]:
'x' in lst

False

In [34]:
'x' in ['x','y','z']

True

## tuple unpacking

In [35]:
x = [(1,2), (3,4), (5,6)]

In [36]:
x[0][0]

1

In [37]:
for i in x:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [38]:
for (a,b) in x:
    print(b)

2
4
6

In [41]:
for a,b in x:
    print(a)

1
3
5